
$theme-colors: (
  "primary": #41658A,
//   "secondary": #5CB85C,
  "danger": #9B1D20
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
}

header {
  background-color: #0E0E52;
  h1 {color: #FFF;}
}


.intro {
  font-style: italic;
  font-size: 1.5em;
  color: #011627;
  padding: 1em 1em;
  @include media-breakpoint-up(sm) {
    padding: 1em 3em;
  }
}

footer {
  padding: 0 2em 1em;
  background-color: #292F36;
  min-height: 200px;
  color: #FFF;
}

footer .logo {
  width: 100px;
  margin-top: 1.5em;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}
footer a:hover { color: #fff;}

footer h3 { color: #aaa }

footer .row > div { margin-top: 2em;}

section {
  padding: 2em 0;
  min-height: 25vh;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.avatar {
  border: none;
  border-radius: 50%;
  overflow: hidden;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin: .2em;
  vertical-align: middle;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  flex-basis: 50px;
  flex-shrink: 0;
  align-self: flex-start;
}

form textarea {
  height: 10em;
}

input, textarea {
    font-size: 0.9em;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

form input, form textarea {
    margin-bottom: 0.5em;
}

ul {
    list-style: none;
    padding-left: 15px;
}

.mira { display: flex;}
.copyright { padding-top: 1em;}

header {color: #3D3D3D;}
header h1 {
  color: #3D3D3D;
  font-size: 3em;
  font-family: "Open Sans";
}

.benefits {
  background-color: #5CB85C;
  background-color: #145C9E;
  background-color: #449DD1;

}

.benefit {
  color: #fff;
  padding-left: 2em;
  padding-right: 2em;

  .img-wrapper {
    width: 150px;
    height: 150px;
    margin: 1em auto .5em;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  img { max-height: 100%;}
}


.features .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    border-radius: 100px;
    color: #fff
}

.features:nth-of-type(1) .icon {
    background: linear-gradient(to bottom right, #32d6fb 0%, #5558ed 100%);
    box-shadow: 0 8px 10px #96eafd
}

.features:nth-of-type(2) .icon {
    background: linear-gradient(to bottom right, #fc5f3c 0%, #ff55d3 100%);
    box-shadow: 0 8px 10px #feb1a0
}

.features:nth-of-type(4) .icon {
    background: linear-gradient(to bottom right, #1cf196 0%, #36a6bf 100%);
    box-shadow: 0 8px 10px #7cf7c2
}

.features:nth-of-type(3) .icon {
    background: linear-gradient(to bottom right, #fad470 0%, #f96933 100%);
    box-shadow: 0 8px 10px #fdf2d3
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: .875em;
    overflow: visible;
    vertical-align: -.125em;
}
