body {
  min-height: 100vh;
}

header {
  padding: 2em;
   min-height: 60vh;
   background: url(/img/header_bg_2-min) no-repeat center;
   background-size: cover;
   color: #FFF;
}

.hero {
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
}

footer {
  padding: 0 2em 1em;
  background-color: #292F36;
  min-height: 200px;
  color: #FFF;
}

footer .logo {
  width: 100px;
  margin-top: 1.5em;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}
footer a:hover { color: #fff;}

footer .row > div { margin-top: 2em;}

section {
  padding: 2em 0;
  min-height: 25vh;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.avatar {
  border: none;
  border-radius: 50%;
  overflow: hidden;
  color: #fff;
  display: inline-block;
  line-height: 1;
  margin: .2em;
  vertical-align: middle;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  flex-basis: 50px;
  flex-shrink: 0;
  align-self: flex-start;
}

form textarea {
  height: 10em;
}

input, textarea {
    font-size: 0.9em;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

form input, form textarea {
    margin-bottom: 0.5em;
}

ul { list-style: none;}

.mira { display: flex;}
.copyright { padding-top: 1em;}

header {color: #3D3D3D;}
header h1 {
  color: #3D3D3D;
  font-size: 3em;
  font-family: "Open Sans";
}
